
.App {
    display: flex;
    flex-direction: column;
}

.content {
    margin-left: 200px;
    padding: 20px;
    width: 100%;
    width: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.content>div {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .App {
        flex-direction: row;
        /* Display sidebar and content side by side on larger screens */
    }

    .content {
        margin-left: 200px;
        /* Keep margin for sidebar on larger screens */
        width: calc(100% - 200px);
    }
}